@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  height: 95vh;
  margin: 20px;
}

div {
  transition: width 0.75s linear;
}

p {
  transition: z-index 1s linear;
  transition-timing-function: ease-in;
}

.container {
  height: 100%;
  padding: 10px;
  text-align: center;
}

.panel {
  height: 95%;
  width: 5%;
  display: inline-block;
  margin: 5px;
  overflow: hidden;
  border-radius: 75px;
  cursor: pointer;
  color: white;
}

.expand {
  width: 68%;
  background-size: 100% 100%;
}

.picTitle {
  position: relative;
  text-align: left;
  top: 85%;
  left: 3%;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  z-index: 20;
}

.picTitleHide {
  font-size: 0;
  z-index: -20;
}
