@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

img {
  width: 100%;
}

h1 {
  margin-bottom: 0;
}

h2 {
  font-weight: bold;
}

h3 {
  font-style: italic;
  font-weight: unset;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 0;
}

p {
  line-height: 1.5;
}

button {
  background-color: unset;
  border-width: 0px;
  padding: 30px 0 0 30px;
}

button:hover {
  cursor: pointer;
}

.rotate {
  transform-origin: 0 0;
  transform: rotate(-20deg);
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear;
}

.rotateBack {
  transform-origin: 0 0;
  transform: rotate(0deg);
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear;
}

.divTable {
  display: table;
}

.divRow {
  display: table-row;
}

.divCellContent {
  display: table-cell;
  width: 60%;
  display: inline-block;
  margin-top: 100px;
}

.divCellNav {
  display: table-cell;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.quarterCircle {
  background-color: RGB(245, 135, 147);
  border-radius: 0 0 120px 0px;
  height: 110px;
  width: 110px;
  z-index: 2;
  position: relative;
}

.hambergur {
  width: 25px;
  height: 4px;
  background-color: white;
  margin: 4px 0 5px 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 1s ease-in-out;
}

.cross1 {
  width: 24px;
  height: 5.5px;
  background-color: white;
  margin: 4px 0 -8px 0;
  transform: rotate(45deg);
  transition: all 1s ease-in-out;
}

.cross2 {
  width: 24px;
  height: 5.5px;
  background-color: white;
  margin: 4px 0 -8px 0;
  transform: rotate(-47deg);
  transition: all 1s ease-in-out;
}

.navBarInitialize {
  background-color: black;
  color: white;
  height: 120vh;
  width: 40vh;
  position: absolute;
  top: 0px;
  left: -40vh;
  z-index: 1;
}

.navBarClosed {
  transform-origin: 100% 0%;
  transform: rotate(20deg);
  -webkit-transition: transform 1.5s linear;
  -moz-transition: transform 1.5s linear;
  -o-transition: transform 1.5s linear;
  transition: transform 1.5s linear;
  z-index: 1;
}

.navBarOpen {
  transform-origin: 100% 0%;
  transform: rotate(-20deg);
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear;
}

.list-hide {
  left: -300px;
  top: 500px;
  position: relative;
  -webkit-transition: left 0.7s ease-in;
  -moz-transition: left 0.7s ease-in;
  -o-transition: left 0.7s ease-in;
  transition: left 0.7s ease-in;
  color: white;
  z-index: 2;
  list-style-type: none;
}

.list {
  list-style-type: none;
  position: relative;
  left: 5px;
  top: 500px;
  vertical-align: bottom;
  color: white;
  z-index: 2;
  -webkit-transition: left 1.3s ease-in-out;
  -moz-transition: left 1.3s ease-in-out;
  -o-transition: left 1.3s ease-in-out;
  transition: left 1.3s ease-in-out;
}

.image {
  height: 20px;
  width: 20px;
}

.hideCross {
  position: absolute;
  left: -32%;
  top: 22px;
  transform: rotate(90deg);
  transform-origin: 100% 0%;
  -webkit-transition: transform 0.7s linear;
  -moz-transition: transform 0.7s linear;
  -o-transition: transform 0.7s linear;
  transition: transform 0.7s linear;
}

.showCross {
  position: absolute;
  left: -32%;
  top: 22px;
  transform: rotate(-90deg);
  transform-origin: 100% 0%;
  -webkit-transition: transform 0.7s linear;
  -moz-transition: transform 0.7s linear;
  -o-transition: transform 0.7s linear;
  transition: transform 0.7s linear;
}

.hideMenu {
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  -webkit-transition: transform 0.7s linear;
  -moz-transition: transform 0.7s linear;
  -o-transition: transform 0.7s linear;
  transition: transform 0.7s linear;
}

.showMenu {
  transform: rotate(0deg);
  transform-origin: 0% 0%;
  -webkit-transition: transform 0.7s linear;
  -moz-transition: transform 0.7s linear;
  -o-transition: transform 0.7s linear;
  transition: transform 0.7s linear;
}

.fa.fa-home.navIcon {
  font-size: 26px;
}

.fa.fa-user.navIcon {
  font-size: 26px;
}

.fa.fa-envelope.navIcon {
  font-size: 24px;
}

.navMenuText {
  text-align: right;
  display: inline-block;
}
