@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

img {
  width: 100%;
}

h1 {
  margin-bottom: 0;
}

h2 {
  font-weight: bold;
}

h3 {
  font-style: italic;
  font-weight: unset;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 0;
}

p {
  line-height: 1.5;
}

button {
  background-color: unset;
  border-width: 0px;
  padding: 30px 0 0 30px;
}

@keyframes mymove {
  50% {
    transform-origin: 0 0 0;
  }
}

.rotate {
  transform-origin: 0 0; /*comment this for infinite swinging*/
  transform: rotate(-45deg);
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  animation: mymove 3s infinite;
}

.rotateBack {
  transform-origin: 0 0; /*comment this for infinite swinging*/
  transform: rotate(0deg);
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  animation: mymove 3s infinite;
}

.divTable {
  display: table;
}

.divRow {
  display: table-row;
}

.divCellContent {
  display: table-cell;
  width: 60%;
  display: inline-block;
  margin-top: 100px;
}

.divCellNav {
  display: table-cell;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.quarterCircle {
  background-color: RGB(245, 135, 147);
  border-radius: 0 0 120px 0px;
  height: 110px;
  width: 110px;
}

.hambergur {
  width: 25px;
  height: 4px;
  background-color: white;
  margin: 4px 0 5px 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 1s ease-in-out;
}

.cross1 {
  width: 24px;
  height: 5.5px;
  background-color: white;
  margin: 4px 0 -8px 0;
  transform: rotate(45deg);
  transition: all 1s ease-in-out;
}

.cross2 {
  width: 24px;
  height: 5.5px;
  background-color: white;
  margin: 4px 0 -8px 0;
  transform: rotate(-47deg);
  transition: all 1s ease-in-out;
}

button:hover {
  cursor: pointer;
}
