@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

body {
  height: 95vh;
  padding: 1px;
  margin: 15px;
}

.container {
  height: 100%;
  position: relative;
  font-size: 0;
}

.step {
  position: relative;
  top: 40%;
  left: 33%;
  display: inline-block;
  margin: 20px 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  font-size: large;
}

.stepPending {
  border: 4px solid var(--line-border-empty);
}

.stepTraversed {
  border: 4px solid var(--line-border-fill);
}

.line {
  display: inline-block;
  top: 39.5%;
  left: 33%;
  position: relative;
  height: 5px;
  width: 120px;
}

.linePending {
  background-color: var(--line-border-empty);
}

.lineTraversed {
  background-color: var(--line-border-fill);
}

.actionContainer {
  text-align: center;
  position: relative;
  top: 40%;
  left: 29.85%;
  width: 40%;
}

.button {
  color: white;
  margin: 8px 5px;
  padding: 2px;
  height: 35px;
  width: 100px;
  border-radius: 8px;
  font-size: small;
  border: none;
}

.buttonDisabled {
  cursor: not-allowed;
  background-color: var(--line-border-empty);
}

.buttonActive {
  cursor: pointer;
  background-color: var(--line-border-fill);
}
